<div class="cards-grid">

  <% if(data) { %>
    <% for(let project of data) { %>

      <div class="card-container card-container-dimensions">
        <div class="card-image-container">
          <img class="card-image" src="<%=project.ProjectImg%>" alt="image">
        </div>
        <div class="card-label">
          <div class="card-project-title left">
            <h3><%=project.ProjectTitle%></h3>
          </div>
          <div class="card-project-further-info">
              <p class="left"><strong>Category</strong><br><%=project.ProjectCategoryIDFK%> </p>
              <p class="right"><strong>Date</strong><br><%=project.ProjectDate%></p>
          </div>
        </div>
        <div class="card-information">
          <h3><%=project.ProjectTitle%></h3>
          <p>
            <%=project.ProjectDesc%>
          </p>
          <a href="#">Read More ></a>
        </div>
      </div>

    <% } %>
  <% } else { %>
  <% } %>

</div> 