<!-- https://www.educative.io/answers/create-an-express-server-with-the-ejs-templating-engine -->

<!DOCTYPE html>
<html>
  <head>
    <title>Sam James</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fontawesome logos: https://fontawesome.com/-->
    <script
      src="https://kit.fontawesome.com/72dcaa571b.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="../javascripts/navbar.js"
      defer
    ></script>

    <link rel="stylesheet" href="../stylesheets/styles.css" />
    <link rel="stylesheet" href="../stylesheets/cards.css" />
  </head>

  <body>
    <!------------------ HEADER/NAVBAR ---------------------->

    <header class="index color3">
      <!-- header -->
      <div class="navigation">
        <nav id="navbar">
          <!-- navbar -->
          <img
            class="menu-crossx"
            src="../assets/ui/cross.png"
            alt="close menu"
            onclick="hideMenu()"
          />
          <a class="logo" href="index.html">SAM JAMES</a>
          <!-- logo -->
          <div class="socials">
            <!-- social logos-->
            <a href="#"><i class="fa fa-github" name="github"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-discord"></i></a>
          </div>
          <div class="navbar-options">
            <!-- selection navbar-->
            <ul>
              <li><a href="index.html">HOME</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a href="projects.html">PROJECTS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </div>
        </nav>
        <img
          class="menu-bars"
          src="../assets/ui/bars.png"
          alt="menu bars"
          onclick="showMenu()"
        />
      </div>

      <!------------------ INTRODUCTION ---------------------->

      <div class="introduction">
        <div class="introduction-content">
          <h1><span class="white-text extra-bold">MY PROJECTS</span></h1>
      </div>
    </header>

    <!------------------ CARDS ---------------------->

    <section class="section color2">
      <div class="section-padding">
        <div class="section">
          <div class="section-padding white-text content">
            <div class="section-column">

              <!-- TO BE ADDED IF I HAVE TIME
                <div class="contact-form project-filters">
                  <div class="contact-form-input">
                    <select name="" id="">
                      <option value="Recent">Recent</option>
                      <option value="A-Z">A-Z</option>
                      <option value="Category">Category</option>
                    </select>
                  </div>
                  <div class="contact-form-input">
                    <input type="text" placeholder="Search">
                  </div>
                </div> -->

                <div class="cards-grid">

                  <% if(data) { %>
                    <% for(let project of data) { %>

                      <div class="card-container card-container-dimensions">
                        <div class="card-image-container">
                          <img class="card-image" src="<%=project.ProjectImg%>" alt="image">
                        </div>
                        <div class="card-label">
                          <div class="card-project-title left">
                            <h3><%=project.ProjectTitle%></h3>
                          </div>
                          <div class="card-project-further-info">
                              <p class="left"><strong>Category</strong><br><%=project.ProjectCategoryIDFK%> </p>
                              <p class="right"><strong>Date</strong><br><%=project.ProjectDate%></p>
                          </div>
                        </div>
                        <div class="card-information">
                          <h3><%=project.ProjectTitle%></h3>
                          <p>
                            <%=project.ProjectDesc%>
                          </p>
                          <a href="#">Read More ></a>
                        </div>
                      </div>

                    <% } %>
                  <% } else { %>
                  <% } %>



                </div>          
            </div>
          </div>
        </div>
      </div>
    </section>

      <!------------------ FOOTER ---------------------->

      <footer class="section color2">
        <div class="content footer white-text">
          <p>Sam James Copyright 2022 ©</p>
          <div class="socials">
            <!-- social logos-->
            <a href="#"><i class="fa fa-github" name="github"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-discord"></i></a>
          </div>
        </div>
      </footer>
    </section>
  </body>
</html>
